<a href="https://colab.research.google.com/github/AnuBolishetty/Anubolishetty_INFO5731_Spring2026/blob/main/In_Class_Exercise_3_%26_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#In Class Exercise 3: Dynamic Web Scraping (API-Based) (10 points)

## Scenario
**You are a data analyst. Your company wants a quick snapshot of the remote job market.**

## Target
- Website: https://remoteok.com  
- API endpoint (data source): https://remoteok.com/api


## Your Task (write code + write your answers)

Using Python, collect job data from the API and answer the following. *(Note: results may vary over time; grading is based on correct logic.)*

**Q1)** How many job postings are currently available? **(2 points)**

**Q2)** What are the top 3 most frequent companies? **(2 points)**

**Q3)** How many job titles contain the word **"Data"** (case-insensitive)? **(2 points)**

**Q4)** Create a pandas DataFrame using the **first 10** job postings (**exactly 10 rows**) with these columns: **(4 points)**


* `title`
* `company`
* `location` (if missing → `"Unknown"`)
* `salary` (if missing → `None`)
* `tags` (store as a comma-separated string)

## Requirements

* You may use ChatGPT.
* Do NOT use Selenium.
* Print your results clearly: `df.head(10)` + answers to Q1–Q3.

In [ ]:
# Starter cell (optional)
import requests
import pandas as pd

API_URL = "https://remoteok.com/api"

In [1]:
# Write your solution below.
# Tip: the API response includes a metadata object plus job objects.
# Make sure you keep only real job postings.

import requests
import pandas as pd

API_URL = "https://remoteok.com/api"
headers = {"User-Agent": "Mozilla/5.0"}

# Fetch data
response = requests.get(API_URL, headers=headers)
data = response.json()

# Filter real job postings
jobs = [job for job in data if isinstance(job, dict) and job.get("company")]

# Q1: How many job postings are currently available?
total_jobs = len(jobs)
print("Q1) Total Job Postings:", total_jobs)

# Q2: Top 3 most frequent companies
from collections import Counter
company_counts = Counter(job["company"] for job in jobs)
top3_companies = company_counts.most_common(3)
print("Q2) Top 3 Companies:", top3_companies)

# Q3: How many job titles contain "Data" (case-insensitive)?
count_data_titles = sum(1 for job in jobs if "data" in job.get("position", "").lower())
print('Q3) Job Titles with "Data":', count_data_titles)

# Q4: Create DataFrame of first 10 jobs
records = []
for job in jobs[:10]:
    title = job.get("position", "")
    company = job.get("company", "")
    location = job.get("location") or "Unknown"
    salary = job.get("salary") or job.get("salary_min", None)
    tags = ", ".join(job.get("tags", []))

    records.append({
        "title": title,
        "company": company,
        "location": location,
        "salary": salary,
        "tags": tags
    })

df = pd.DataFrame(records)
print("\nQ4) First 10 Job Postings DataFrame:")
print(df)

Q1) Total Job Postings: 95
Q2) Top 3 Companies: [('Anduril Industries', 3), ('Versaterm', 3), ('Ubiminds', 3)]
Q3) Job Titles with "Data": 3

Q4) First 10 Job Postings DataFrame:
                                             title               company  \
0  Senior Technical Program Manager Infrastructure                Planet
1                              Web Program Manager              Huntress
2        Senior Program Manager Workforce Planning                Fluxon
3        Senior Principal SEO GEO & Search Systems              Workwize
4       Senior Full Stack Software Engineer Growth             Circle.so
5                 Enterprise Account Executive KSA               Dataiku
6                    Strategic Partner Manager GSI        Armis Security
7                           React Native Developer  Bluelight Consulting
8                  Customer Service Representative        Wing Assistant
9            Staff Software Engineer Platform Team               Wellhub

                   location  salary  \
0             United States       0
1  United States of America  150000
2             United States       0
3                 Amsterdam       0
4                    Remote       0
5              Saudi Arabia       0
6                    London       0
7       Panama City, Panama       0
8       Manila, Philippines       0
9                   Unknown       0

                                                tags
0               manager, technical, software, senior
1  web, manager, saas, security, game, senior, op...
2  manager, management, senior, operational, engi...
3                                  saas, seo, senior
4  software, growth, full-stack, senior, analytic...
5  software, management, analytics, sales, executive
6  infosec, manager, security, growth, management...
7  react, consulting, developer, ios, consultant,...
8  virtual assistant, security, support, software...
9                                 software, engineer

# In-Class Exercise 2 (10 points)

**In-Class Assignment — Week 3 (Lesson 3)**

Time: 20–30 minutes
Points: 10

**Instructions**

This is an individual in-class assignment.

Complete it during class time.

You may use Week 3 lecture notes / demo notebooks.

Write your code under each question and print the output.

Submit the GitHub link.

Q1 ( 4 points)
Write a Python program that prompts the user to enter two numbers and perform a division operation. Handle exceptions for both zero division and invalid input (non-numeric input). Display appropriate error messages for each type of exception and ensure the program does not crash due to these errors.

In [2]:
# write your answer here
try:
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))


    result = num1 / num2

    print("Result:", result)

except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")

except ValueError:
    print("Error: Invalid input. Please enter numeric values only.")

except Exception as e:
    print("Unexpected error occurred:", e)

Enter the first number: 10
Enter the second number: 5
Result: 2.0

 Q2( 4 points)
Define a base class called 'Vehicle' with attributes make and model. Create a derived class Car that inherits from Vehicle and has an additional attribute 'num_doors'. Demonstrate an example of creating an instance of the 'Car' class and accessing its attributes.

In [12]:
# Define base class
class Vehicle:
    def __init__(self, make, model):
        self.make = make
        self.model = model


# Define derived class
class Car(Vehicle):
    def __init__(self, make, model, num_doors):
        # Call parent constructor
        super().__init__(make, model)
        self.num_doors = num_doors


# Create an instance of Car
my_car = Car("Telsa", "Model S", 4)

# Access and print attributes
print("Make:", my_car.make)
print("Model:", my_car.model)
print("Number of Doors:", my_car.num_doors)

Make: Telsa
Model: Model S
Number of Doors: 4

Question 3 ( 2 points)
Create a program that accepts a list of numbers as input and outputs a new list containing only the even numbers.

In [11]:
# write your answer here
# Accept list of numbers from user
user_input = input("Enter numbers separated by spaces: ")

# Convert input string to list of integers
numbers = list(map(int, user_input.split()))

# Create a new list with only even numbers
even_numbers = [num for num in numbers if num % 2 == 0]

# Print result
print("Even numbers:", even_numbers)

Enter numbers separated by spaces: 1 2 3 4 5 6
Even numbers: [2, 4, 6]